/* myStyle.css */

h1 {
    color: fuchsia;
    margin-left: 100px;
    font-family:serif; Oswald;
    font-weight:lighter;
    font-size:40px;
}

h2 {
    color:aqua;
    margin-left: 20px;
    font-family:serif; Adobe Caslon; 
    font-size: 20px;
    font-weight:bold; 
}
p {
    max-width: 800px;
    line-height: 2.6em;
    font-family: sans-serif; Futura;
    font-size: 12px;
    font-weight: 300;
}
li{
    color:white;
    background-color: magenta;max-width: 800px;
    margin-left:40px;
    font-family: sans-serif; Helvetica;
    font-weight: 200;
    font-size: 16px;
}
a {
    color:darkorange;
    font-family:sans-serif; Oswald; font-size:12px; font-weight: lighter;
}

a:hover {
    color: deeppink;
    text-decoration:line-through;
}
table, th, td {
    width: 70%;
    border-collapse: collapse;
    border: 8px solid blue;
}
th, td {
    border-bottom: 1px solid ;
    padding: 10px;
    text-align:left;
}
td {
    height: 50px;
    vertical-align: bottom;
}
#header { 
    background-color: blueviolet;
    font-family:sans-serif; Helvetica; color: magenta; font-weight: lighter; font-size: 20px;
}

.soupintro {
    background-color: magenta;
    font-family: Adobe Caslon; color:darkblue; font-weight:lighter;
    width: 600px;
    padding: 50px;30px;50px;80px;
}

.captions {
    color:ghostwhite; 
    font-size:10px;
    font-family:Oswald;font-weight: lighter;
    text-align: left;
    background-color:magenta; max-width: 400px;  
}
#contact { 
    background-color: magenta;max-width: 400px;
    font-family:Futura; color: beige; font-weight: bold;
}