/* myStyle.css */

body {
    background-color: mistyrose;
}

h1 {
    color: navy;
    margin-left: 20px;
    font-family:serif; Tiempos;
    font-weight:bold;
    font-size:24px;
}

h2 {
    color: magenta;
    margin-left: 20px;
    font-family:sans-serif, Whitney;
    font-size: 18px;
}
p {
    background-color:cornsilk;max-width: 600px;
    line-height: 1.5em;
    font-family: sans-serif; Futura;
    font-size: 12px;
    font-weight: 300;
}
li{
    color: crimson;
    margin-left:40px;
    font-family: sans-serif; Arial;
    font-weight: 200;
    font-size: 12px;
}
a {
    color:darkorchid;
    font-family:sans-serif; Helvetica;
}

a:hover {
    color: deeppink;
    text-decoration: underline;
}
table, th, td {
    width:auto;
    border-collapse: collapse;
    border: 2px solid crimson;
}
th, td {
    border-bottom: 1px solid crimson;
    padding: 15px;
    text-align:left;
}
td {
    height: 50px;
    vertical-align: bottom;
}
#header { 
    background-color: crimson;
    font-family:sans-serif; Helvetica; color: beige; font-weight: 400;
}

.soupintro {
    background-color: azure;
    font-family: sans-serif; Futura; color:darkblue; font-weight:lighter;
    width: 600px;
}

.captions {
    color:ghostwhite; 
    font-size:10px;
    font-family:sans-serif; Helvetica;
    text-align: left;
    background-color:darkorange; max-width: 600px;  
}
#contact { 
    background-color: blue;
    font-family:sans-serif; Oswald; color: beige; font-weight: bold;
}